<script type="text/javascript">
    $j(function(){
        if ($j(window).width() > 768) {
            show_popup= $j.cookie('show_popup');
            if(show_popup == null || show_popup=='enabled')
            {
                openNewsletterPopup()
            }
            $j('#checkBox').change(function() {
                show_popup= $j.cookie('show_popup');
                if($j(this).is(":checked")) {
                    show_popup= $j.cookie('show_popup','disabled');
                }else
                {
                    show_popup= $j.cookie('show_popup','enabled');
                }
            });
        }
    })

    function openNewsletterPopup(){
        setTimeout(function() {
            if ($j('#newsletterModal').length) {
                var pause = $j('#newsletterModal').attr('data-pause');
                setTimeout(function() {
                    $j('#newsletterModal').modal('show');
                }, pause);
            }
        }, 1000);
    }
</script>
<!-- Popup box -->
<?php $theme=Mage::helper('welldone');?>
<div class="modal modal--bg zoom" id="newsletterModal" data-pause=<?php echo $theme->getLayoutOption('newsletter/delay')?>>
    <div class="modal-dialog">
        <form  action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail-popup">
            <div class="modal-bg-image">
                <?php if($theme->getLayoutOption('newsletter/bg')){
                    $bg=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'welldone/'.$theme->getLayoutOption('newsletter/bg');
                }else
                {
                    $bg=$this->getSkinUrl('images/theme/newsletter-bg.jpg');
                }
                ?>
                <img src="<?php echo $bg ?>" alt="" class="img-responsive">
            </div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> ✕ </button>
            </div>
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-7 col-md-8 col-sm-12 text-center">
                            <h2 class="text-uppercase"><?php echo Mage::helper('core')->quoteEscape($this->__('Newsletter Signup')) ?></h2>
                            <p><?php echo $this->__('ENTER YOUR EMAIL ADDRESS TO SIGN UP TO RECEIVE OUR LATEST NEWS AND OFFERS') ?></p>
                            <p><input name="email" type="text" class="input--wd input--wd--full text-center required-entry validate-email" placeholder="<?php echo $this->__('Your e-mail address') ?>"></p>
                            <div><button type="submit" class="btn btn--wd text-uppercase wave"><?php echo Mage::helper('core')->quoteEscape($this->__('Subscribe')) ?></button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="popup-dont-show">
                    <div class="checkbox-group">
                        <input type="checkbox" id="checkBox">
                        <label for="checkBox"> <span class="check"></span> <span class="box"></span> <?php echo $this->__('DON\'T SHOW THIS POPUP AGAIN') ?></label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    //<![CDATA[
    var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail-popup');
    //]]>
</script>
<!-- //end Popup box -->