<!DOCTYPE html>
<html lang="<?php echo $this->getLang() ?>">
<head>
    <?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass(). ' store-' .Mage::app()->getStore()->getCode().'"':'' ?>>
<?php echo $this->getChildHtml('after_body_start') ?>
<div class="wrapper">
    <?php echo $this->getChildHtml('global_notices') ?>
    <?php echo $this->getChildHtml('header') ?>
    <div id="pageContent" class="page-content <?php if(Mage::registry('current_category') && !Mage::registry('current_product')):?>page-content--fill<?php endif;?>">
        <?php if(Mage::registry('current_category') && !Mage::registry('current_product')):?>
        <section class="content top-null">
            <div class="container">
        <?php endif; ?>
        <?php echo $this->getChildHtml('global_messages') ?>
        <?php echo $this->getChildHtml('breadcrumbs') ?>
        <?php echo $this->getChildHtml('content') ?>
                <?php if(Mage::registry('current_category') && !Mage::registry('current_product')):?>

                    </div>
        </section>
                        <?php endif; ?>
    </div>
    <?php echo $this->getChildHtml('footer') ?>
</div>
<?php echo $this->getChildHtml('global_cookie_notice') ?>
<?php echo $this->getChildHtml('before_body_end') ?>
<?php echo $this->getAbsoluteFooter() ?>
</body>
</html>