<!DOCTYPE html>
<html lang="<?php echo $this->getLang() ?>">
<head>
    <?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass() ? ' class="' . $this->getBodyClass() . '"' : '' ?>><body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass(). ' store-' .Mage::app()->getStore()->getCode().'"':'' ?>><?php echo $this->getChildHtml('after_body_start') ?>
<div class="wrapper">
    <?php echo $this->getChildHtml('global_notices') ?>
    <?php echo $this->getChildHtml('header') ?>
    <div id="pageContent" class="page-content">
        <section class="content">
            <div class="container">
                <?php echo $this->getChildHtml('global_messages') ?>
                <?php echo $this->getChildHtml('breadcrumbs') ?>
                <?php echo $this->getChildHtml('content') ?>
            </div>
        </section>
    </div>
    <?php echo $this->getChildHtml('footer') ?>
</div>
<?php echo $this->getChildHtml('global_cookie_notice') ?>
<?php echo $this->getChildHtml('before_body_end') ?>
<?php echo $this->getAbsoluteFooter() ?>
</body>
</html>